<form class="formContainer" (ngSubmit)= "register()" [formGroup]= "formContact">
  <br />
  <h3 class="text-center">Nous contacter</h3>
  <br />
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre adresse email *" formControlName= "email">
    <small id="emailHelp" class="form-text text-muted">Nous n'utiliserons pas votre email à des fins commerciales.</small>
    <mat-error *ngIf= "emailControl.dirty && emailControl.hasError('required')">Email nécessaire</mat-error>
    <mat-error *ngIf= "emailControl.dirty && emailControl.hasError('email')">Email valide nécessaire</mat-error>

  </div>

  <mat-form-field>
    <mat-select placeholder="Type de demande *" disableRipple formControlName= "typeMessage">
      <mat-option value="renseignement">Renseignement</mat-option>
      <mat-option value="reclamation">Réclamation</mat-option>
      <mat-option value="remerciement">Remerciement</mat-option>
      <mat-option value="autreRaison">Autre raison</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf= "typeMessageControl.dirty && typeMessageControl.hasError('required')">Champ obligatoire</mat-error>

  <br />

  <div>
    <input type="text" class="form-control" placeholder="Titre de votre message *" formControlName= "titre">
    <mat-error *ngIf= "titreControl.dirty && titreControl.hasError('required')">Titre nécessaire</mat-error>
  </div>

  <br/>

  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Votre message *" formControlName= "message"></textarea>
    <mat-error *ngIf= "messageControl.dirty && messageControl.hasError('required')">Message nécessaire</mat-error>
    <label>*Ces champs sont obligatoires</label>
  </div>
  <div class="boutonEnvoi">
    <button type="submit" class="btn btn-primary" style="margin: auto;" [disabled]= "formContact.invalid">Envoyer</button>
  </div>
</form>