<div class="vehicules">
  <mat-list class="list" role="list">
    <mat-list-item *ngFor="let vehicule of vehicules">
      <p mat-line>Intitulé: {{ vehicule.intitule }} </p><br/>
      <p mat-line>Marque : {{ vehicule.marque }}</p><br/>
      <p mat-line>Description : {{ vehicule.description }}</p><br/>
      <img class="imgVehicule" routerLink="vehicules/{{vehicule.id}}" [src]="getUrlPhoto(vehicule.photo)" /> 
    </mat-list-item>
  </mat-list><br/><br/>
  <button mat-button mat-flat-button color="primary" [routerLink]="['/addVehicule']">Ajouter un véhicule</button>
</div>
