/* You can add global styles to this file, and also import other style files */

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    }

  


#page-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:"h"
                        "c"
                        "f";
}

#header-container {
    grid-area: h;
}

#content-container {
    grid-area: c;
}

#footer-container {
    grid-area: f;
}
