<div class="home">
  <div class="container">
    <div class="row ">
      <div class="col-sm" *ngFor="let numero of numeros">
        <div class="card border-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Pseudo</div>
          <div class="card-body">
            <img class="imgVelo" src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
          alt="velo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="howItWorks">
    <div class="container-fluid">
      <h3>Comment ça marche</h3>
      <div class="iconHIW">
        <div class="row">
          <div class="col-sm iconBox">
            <i class="fas fa-desktop fa-5x"></i>
            <p>Order your bike</p>
          </div>
          <div class="col-sm iconBox">
            <i class="fas fa-bicycle fa-5x"></i>
            <p>Enjoy it</p>
          </div>
          <div class="col-sm iconBox">
            <i class="fas fa-hands-helping fa-5x"></i>
            <p>Give it back</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container announces">
      <div class="row">
        <div class="col-sm-8 col-md-4" *ngFor="let velo of velos">
          <div class="card border-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Pseudo</div>
            <div class="card-body">
              <img class="imgVelo" [src]="velo"
            alt="velo">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>