<div class="home">
  <div class="container nearYou">
    <div>
      <h3>Près de chez vous ! </h3>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4" *ngFor="let velo of velosTop3">
        <div class="card" style="max-width: 18rem;">
          <img class="imgVelo rounded mx-auto d-block img-thumbnail img-fluid" [src]="velo.veloPic" alt="velo">
          <p class="pseudo">{{velo.pseudo}}</p>
          <img [src]="velo.userPic" alt="" class="rounded-circle userPicture">
        </div>
        <div class="card-body">
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="howItWorks">
    <div class="container-fluid">
      <h3>Comment ça marche</h3>
      <div class="iconHIW">
        <div class="row">
          <div class="col-sm iconBox">
            <i class="fas fa-desktop fa-5x"></i>
            <p>Order your bike</p>
          </div>
          <div class="col-sm iconBox">
            <i class="fas fa-bicycle fa-5x"></i>
            <p>Enjoy it</p>
          </div>
          <div class="col-sm iconBox">
            <i class="fas fa-hands-helping fa-5x"></i>
            <p>Give it back</p>
          </div>
        </div>
      </div>
      <div class="container">
          <div style="text-align: center;">
            <a [routerLink]="['/subscription']"><button class="actionButton">Je veux m'inscrire</button></a>
          </div>
      </div>
    </div>
  </div>
  <div class="container announces">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let velo of velos">
        <div class="card" style="max-width: 18rem;">
          <img class="imgVelo rounded mx-auto d-block img-thumbnail img-fluid" [src]="velo.veloPic" alt="velo">
          <p class="pseudo">{{velo.pseudo}}</p>
          <img [src]="velo.userPic" alt="" class="rounded-circle userPicture">
        </div>
        <div class="card-body">
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>